body{
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
text-align: center;
background-color: #0096c7

}
header{
    background-color: #00b4d8;
    color: white;
    padding: 10px 0;
}

nav{
    margin: 0;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 18px;
}

nav a:hover{
    text-decoration: underline;
}

main{
    margin: 200px;
    color: white;
    font-size: 60px;
    font-weight: bold;
}

button{
    padding: 15px 25px;
    font-size: 20px;
    color: white;
    background-color: #0096c7;
    border: 3px groove white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    
}

footer{
    background-color: #00b4d8;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}